<h1>Listing ppps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ppps.each do |ppp| %>
      <tr>
        <td><%= ppp.name %></td>
        <td><%= link_to 'Show', ppp %></td>
        <td><%= link_to 'Edit', edit_ppp_path(ppp) %></td>
        <td><%= link_to 'Destroy', ppp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ppp', new_ppp_path %>
